<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ScrumManager.Properties.Settings.ScrumManagerConnectionString"
            connectionString="Data Source=LENNY\SQLEXPRESS;Initial Catalog=ScrumManager;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ScrumManager.Properties.Settings.ScrumManagerConnectionString1"
            connectionString="Data Source=LENNY\SQLEXPRESS;Initial Catalog=ScrumManager;Persist Security Info=True;User ID=sa;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>